{% extends "grupo4test/base.html" %}

{% block content %}

{% if form.errors %}
<p style="color:red;">Su usuario y contraseña no coinciden. Intente otra vez.</p>
{% endif %}

{% if next %}
    <p>Hola</p>
    {% if user.is_authenticated %}
    <p style="color:red;">Su cuenta no tiene acceso a este sitio. Para proceder inicie sesión con una cuentas que tenga acceso.</p>
    {% else %}
    <p style="color:red;">Por favor inicie sesión para acceder al sitio.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>Usuario:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td>{{ form.username }}</td>
</div>
</br>
<div>
  <td>Contraseña:</td>
  <td>{{ form.password }}</td>
</div>
</br>
<div>
  <input type="submit" value="Iniciar Sesión" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
</br>
{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Olvide mi contraseña</a></p>

{% endblock %}