.sidebar-nav {
  position: absolute;
  top: 0;
  width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #696969;
  font-weight: bold;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: black;
  background: silver;
}

h1.title{
	margin-left: 300px;
	margin-bottom: 50px;
	margin-top: 50px;
}