{% extends "grupo4test/base.html" %}


{% block content %}
<style type="text/css">
p{
	font-size: 18px;
}
table, th, td {
	border: 2px solid black;
    font-size: 15px;
    padding: 5px 5px 5px;
}
</style>
	<h1>Datos empresa</h1>
	<hr style="height:1px;width: 10%;  background-color:black;border:none;  display: inline-block" />
	

	{% if user.is_authenticated %}
		{% if empresa %}
			<table style="width:20%">
				<tr>
					<th>RUT</th>
					<th>{{ empresa.rut }}</th>
				</tr>
				<tr>
					<th>Nombre</th>
					<th>{{ empresa.nombre }}</th>
				</tr>
				<tr>
					<th>Etapa</th>
					<th>{{ empresa.etapa }}</th>
				</tr>
				<tr>
					<th>Cuenta</th>
					<th>{{ empresa.autor }}</th>
				</tr>
				<tr>
					<th>Formulario clasificación</th>
					{% if formulario.validado %}
						<th style="color: green;">Validado </th>
					{% else %}
						<th style="color: red"> No validado </th>
					{% endif %}
				</tr>
				<tr>
					<th>Puntaje clasificación</th>
					<th>{{ formulario.puntaje }}</th>
				</tr>
				<tr>
					<th>Formulario diagnóstico:</th>
					<th style="color: red"> No validado </th>
				</tr>
				<tr>
					<th>Puntaje diagnóstico</th>
					<th> 0.0 </th>
				</tr>
			</table>
		{% endif %}
		{% if not_info %}
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
					<p>{{ field.label }}</p>
					<p>{{ field }}</p>
				{% endfor %}
			<td><input type="submit" name="submit" value="Register"/></td>
			</form>
		{% endif %} 
	{% else %}
	   	<p>Sección solo para usuarios registrados</p> 
	{% endif %} 
           
{% endblock %}