{% extends "grupo4test/base.html" %}


{% block content %}
<style type="text/css">
#myContainer{
	font-size: 16px;
}
#myContainer .col-sm-4{
	margin-bottom: 15px;
	
}
#myContainer .col-sm-3{
	margin-bottom: 15px;
	font-weight: bold;
}
</style>
	<hr>
	{% if user.is_authenticated %}
	<div class="panel panel-primary filterable" style="width: 100%">
            <div class="panel-heading">
                <h1 class="panel-title" style="font-size: 20px">Informacion de Cliente</h1>
            </div>
	         
	<div class="container-fluid" id="myContainer">

		<hr>
		<div class="row">
			<div class="col-sm-3">Nombre de Usuario: </div>
			<div class="col-sm-4"> {{cliente.user.username}}</div>
		</div>
		<div class="row">
			<div class="col-sm-3">Nombre de Cliente: </div>
			<div class="col-sm-4">{{cliente}}</div>
		</div>
		<div class="row">
			<div class="col-sm-3">Correo electrónico: </div>
			<div class="col-sm-4">{{cliente.user.email}}</div>
		</div>
		<div class="row">
			<div class="col-sm-3">Teléfono de contacto: </div>
			<div class="col-sm-4">{{cliente.telefono}}</div>
		</div>
		<div class="row">
			<div class="col-sm-3">Etapa: </div>
			<div class="col-sm-4">{{cliente.etapa}}</div>
		</div>
	</div>

	</div>
	{% else %}
	<p>Solo para usuarios registrados</p>
	{% endif %}
           
{% endblock %}