{% extends "grupo4test/base.html" %}

{% block content %}

<style type="text/css">
table, th, td {
    font-size: 15px;
    padding: 5px 5px 5px;
}
</style>

<hr>
<div class="container" style="width: 100%;">
    <div class="row">
        <div class="panel panel-primary filterable" style="width: 100%">
            <div class="panel-heading">
                <h2 class="panel-title">Enviados</h2>
            </div>
            <table class="table">
                <thead>
                    <tr style="background: silver;padding: 5px 5px 5px">
                        <th >Cliente</th>
                        <th>Puntaje</th>
                        <th>Etapa</th>
                        <th>Fecha Enviado</th>
                    </tr>
                </thead>
                <tbody>	
               	{% for enviado in enviados %}

                <tr>
                	 
             			<td ><a href="{% url 'cliente' enviado.cliente.id %}">{{enviado.cliente}}</a></td>
						<td >{{enviado.puntaje}}</td>
						<td>{{enviado.cliente.etapa}}</td>
						<td>{{enviado.getFecha}} </td>
                    </tr>
		{% endfor %}
                </tbody>
            </table>	
        </div>
    </div>
</div>


		
		<hr>

	
	

<div class="container" style="width: 100%;">
    <div class="row">
        <div class="panel panel-primary filterable" style="width: 100%">
            <div class="panel-heading">
                <h2 class="panel-title">Pendientes</h2>
            </div>
            <table class="table">
                <thead>
                    <tr style="background: silver;padding: 5px 5px 5px">
                        <th >Cliente</th>
                        <th>Puntaje Temporal</th>
                        <th>Etapa</th>
                        <th>Fecha Enviado</th>
                    </tr>
                </thead>
                <tbody>	
               {% for pendiente in pendientes %}
                <tr>
                	 
             
                        <td ><a href="{% url 'cliente' pendiente.cliente.id %}">{{pendiente.cliente}}</a></td>
						<td >{{pendiente.puntaje}}</td>
						<td>{{pendiente.cliente.etapa}}</td>
						<td>{{pendiente.guardados.all|first}} </td>
                    </tr>
		{% endfor %}

                </tbody>
            </table>	
        </div>
    </div>
</div>

<hr>
<div class="container" style="width: 100%;">
    <div class="row">
        <div class="panel panel-primary filterable" style="width: 100%">
            <div class="panel-heading">
                <h2 class="panel-title">Listos</h2>
            </div>
            <table class="table">
                <thead>
                    <tr style="background: silver;padding: 5px 5px 5px">
                        <th >Cliente</th>
                        <th>Puntaje</th>
                        <th>Etapa</th>
                        <th>Fecha Entrega</th>
                    </tr>
                </thead>
                <tbody>	
              {% for listo in listos %}
                <tr>
                	 
             
                        <td ><a href="{% url 'cliente' listo.cliente.id %}">{{listo.cliente}}</a></td>
						<td >{{listo.puntaje}}</td>
						<td>{{listo.cliente.etapa}}</td>
						<td>{{listo.getFecha}} </td>
                    </tr>

		{% endfor %}
                </tbody>
            </table>	
        </div>
    </div>
</div>


		<hr>



	
{% endblock %}