{% extends "grupo4test/base.html" %}

{% block content %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
    div.container{
    	margin-left: 0px;
    	font-size: 15px;
    	max-width: 70%;
    }
    ul.nav.nav-tabs{
    	font-size: 30px;
    }

</style>
<body>

{% if error %}
<p style="font-size: 20px; color: red">{{ error }}</p>

{% else %}
	<div class="container">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<h2>Formulario Diagnóstico</h2>
			<ul class="nav nav-tabs">
		    	{% for form in forms %}
			    	<li id="tab_name" {% if forloop.counter == 1 %} class="active" {% endif %}><a data-toggle="tab" href="#Q{{forloop.counter}}"> Q{{ forloop.counter }} </a></li>
			    {% endfor %}
			</ul>
			<hr style="height:1px;width: 10%;  border:none;  display: inline-block" />
			<div class="tab-content">
			{% for form in forms %}
				<div id="Q{{forloop.counter}}" {% if forloop.counter == 1 %} class="tab-pane fade in active" {% else %} class="tab-pane fade " {% endif %}>
				{% for field in form %}
					<p style="font-weight: bold;">{{field.label}}</p>
					{% if form.doc|get_item:field.auto_id == 1 %}
						{% if field.auto_id|document_exist:form.formulario %}	
							<style type="text/css">
								.modal.fade img {
   									max-width: 1080px;
   									vertical-align: middle;

   								}
   								.modal.fade{
   									text-align: center;
   									vertical-align: middle;
   								}
						</style>
							<a data-toggle="modal" href="#myModal{{field.auto_id}}">Ver documento</a>
							<div class="modal fade" id="myModal{{field.auto_id}}" role="dialog">
								        <div class="modal-body">
								          	<img src="../media/{{ field.auto_id|get_path_doc:form.formulario }}"/>
								      	</div>
							</div>
							<p>Subir otro documento: </p>	
						{% endif %}
					{% endif %}
					<p>{{field}}</p>
				{% endfor %}
				</div>
			{% endfor %}
			</div>
			<input type="submit" value="Enviar">
		</form>
	</div>
{% endif %}

{% endblock %}

