{% extends "grupo4test/base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<style type="text/css">
    div.container{
    	margin-left: 0px;
    	font-size: 15px;
    	max-width: 70%;
    }

    div.col-sm-1{
    	font-weight: bold;
    }


</style>
{% if user.is_authenticated %}
	<h2>Formulario clasificación</h2>
	<hr style="height:1px;width: 10%;  background-color:black;border:none;  display: inline-block" />
	{% if respuestas %}
		<div class="container">
			<h4>Formulario Resuelto</h4>
			<div class=row>
				<div class="col-sm-1">Empresa</div>
				<div class="col-sm-3">{{ formulario.empresa.nombre }}</div>	
			</div>
			<div class=row>
				<div class="col-sm-1">Puntaje</div>
				<div class="col-sm-3">{{ formulario.puntaje }}</div>	
			</div>
			<div class=row>
				<div class="col-sm-1">Etapa</div>
				<div class="col-sm-3">{{ formulario.empresa.etapa }}</div>	
			</div>
			<div class=row>
				<div class="col-sm-1">Estado</div>
				<div class="col-sm-3" 
				{% if formulario.validado %}
					style="color: green;">Validado</div>
				{% else %}
					style="color:red;">No validado </div>
				{% endif %}
			</div>
		</div>
		<hr style="height:1px;width: 10%;  background-color:black;border:none;  display: inline-block" />
		<div class="container">
			<h4>Respuestas</h4>
			<div class="row" style="font-weight: bold;padding: 5px 5px 5px;">
				<div class="col"> Pregunta </div>
				<div class="col"> Respuesta </div>
				<div class="col-sm-1"> Puntaje </div>
				<div class="col"> Comentario </div>
			</div>
			{% for respuesta in respuestas %}
				{% if forloop.counter|divisibleby:2 %}
					<div class="row" style="padding: 5px 5px 5px;">
				{% else %}
					<div class="row" style="padding: 5px 5px 5px; background-color: silver;">
				{% endif %}
					<div class="col"> {{ respuesta.pregunta }} </div>
					<div class="col"> {{ respuesta.respuesta }} </div>
					<div class="col-sm-1 text-right"> {{ respuesta.puntaje }} </div>
					<div class="col"> {{ respuesta.comentario }}</div>
				</div>
			{% endfor %}	
		</div>
	{% else %}
	<h2>Formulario clasificación</h2>
		<form method="post">
			{% csrf_token %}
				{% for field in question_form %}
					{% if question_form.base|get_item:field.auto_id == 1 %}
						{% if field.auto_id == 'id_30' %}
							<div id="div_{{field.auto_id}}" style="display: none;">
								<p>{{field.label}}</p>
								<p>{{field}}</p>
							</div>
						{% else %}
							<div id="div_{{field.auto_id}}">
								<p>{{field.label}}</p>
								<p>{{field}}</p>
							</div>
						{% endif %}
					{% else %}
						<script type="text/javascript">
							//console.log("#{{question_form.papa|get_item:field.auto_id}}");
							//console.log("div_{{field.auto_id}}");
							$(document).ready( function(){
								$("#{{question_form.papa|get_item:field.auto_id}}").on('change', function(){
									var x = document.getElementById("div_{{field.auto_id}}");
									if($("#{{question_form.papa|get_item:field.auto_id}}").val() == '1'){
										x.style.display = "block";
									}
									else{
										x.style.display = "none";
										$("#{{field.auto_id}}").val('');
									}
								});
							});
						</script>
						<div id="div_{{field.auto_id}}" style="display: none;">
							<p>{{field.label}}</p>
							<p>{{field}}</p>
						</div>
					{% endif %}
				{% endfor %}
			 	<input type="submit" name="submit" value="Enviar" />
		</form>
	{% endif %}
{% else %}
	<h1> Usuario debe estar loggeado </h1>
    <li><a href="{% url 'login'%}">Login</a></li>   
    <li><a href="{% url 'register'%}">Crear cuenta</a></li> 
{% endif %}

<script type="text/javascript">
	$(document).ready( function(){
		$("#id_27").on('change', function(){
			var x = document.getElementById("div_id_30");
			if($("#id_27").val() == '1'){
				x.style.display = "block";
			}
			else{
				x.style.display = "none";
				$("#id_30").val('');
			}
		});
	});
</script>
{% endblock content %}