<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>
	<h1>Informe de {{formulario.cliente}}</h1>
		<p>Fecha resuelto: {{ formulario.getFecha }}</p>
		<p>Puntaje: {{ formulario.puntaje }}</p>
		<p>Etapa: {{ formulario.cliente.etapa }}</p>
		<p>Correo: {{formulario.cliente.user.email }}</p>
		<p>Telefono: {{formulario.cliente.telefono}}</p>
	<hr>
	{% for respuestas in formulario.getRespuestas %}
		<h1>{{forloop.counter|getQ}}</h1>
		{% for respuesta in respuestas %}
			<p style="font-weight: bold;">{{respuesta.pregunta.texto_pregunta}}</p>
			{% if respuesta.getTipo == 'a' %}
				<p>{{respuesta.getRespuestaAlternativa}}</p>
			{% else %}
				{% for asw in respuesta.getRespuestaEleccion %}
				<P>{{asw.texto_eleccion}}</P>
				{% endfor %}
			{% endif %}
		{% endfor %}
	{% endfor %}
</body>