    
     <div class="login">
        <h2>Creación de usuario</h2>
        <span style="display:block; height: 20px;"></span>
        {% if messages %}
            {% for message in messages %}
                <h1 style="color:red;">{{ message }}</h1>
            {% endfor %}
            <a style="font-size: 20px;color:blue" href="{% url 'login' %}">Login</a>
        {% endif %}
        <span style="display:block; height: 20px;"></span>

         <form method="post" id="submit_form">
             {% csrf_token %}
             <table>
                <tr>
                    {{ form.as_table }}
                </tr>
             </table>
            <tr>
                <td>
                    <input type="submit" id="id1" name="submit" value="Registrar" />
                </td>
            </tr>
         </form>
     </div>
        <script type="text/javascript">
            /*
            $('#submit_form').click(function(event){
                event.preventDefault();
                var data = $("#submit_form").serialize();
                var data2 = "hola";
                alert(data);
            });
            */
        </script>
